<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#161625">
	<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<meta name="googlebot" content="index, follow">

	<!-- Resource Hints -->
	<link rel="preconnect" href="https://gc.zgo.at" crossorigin>
	<link rel="dns-prefetch" href="https://gc.zgo.at">
	<link rel="preconnect" href="https://umami.priorato.org" crossorigin>
	<link rel="dns-prefetch" href="https://umami.priorato.org">

	<!-- Analytics -->
    <script defer src="https://umami.priorato.org/priorato.js" data-website-id="4eaed2d0-1d01-44b6-9381-d1f4a80a99fc"></script>
	<link rel="icon" href="./assets/<%=page%>/icon.svg" type="image/svg+xml">
	<% if (page == 'toolz') { %>
		<link rel="canonical" href="https://adblock.turtlecute.org/">
	<% } else { %>
		<link rel="canonical" href="https://adblock.turtlecute.org/<%=page%>">
	<% } %>
    <title><%= title %></title>
  	<meta name="author" content="Ursu Eduard Cornelius">
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="<%= keywords %>,Eduard Ursu,d3ward,github">

	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="<%= title %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="https://raw.githubusercontent.com/Turtlecute33/toolz/master/src/assets/preview_toolz.png">

	<!-- Open Graph Tags -->
	<meta property="og:url" content="https://<%= url %>">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="<%= preview_thumbnail %>">
	<meta property="og:image:alt" content="<%= title %> - Preview">
	<meta property="og:site_name" content="Toolz">
	<meta property="og:locale" content="en_US">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://<%= url %>">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="<%= preview_thumbnail %>">
	<meta name="twitter:image:alt" content="<%= title %> - Preview">

	<!-- Structured Data (JSON-LD) -->
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebApplication",
		"name": "<%= title %>",
		"description": "<%= description %>",
		"url": "https://<%= url %>",
		"applicationCategory": "UtilityApplication",
		"operatingSystem": "Any",
		"offers": {
			"@type": "Offer",
			"price": "0",
			"priceCurrency": "USD"
		},
		"author": {
			"@type": "Person",
			"name": "Ursu Eduard Cornelius",
			"url": "https://github.com/d3ward"
		},
		"publisher": {
			"@type": "Person",
			"name": "Ursu Eduard Cornelius"
		},
		"image": "<%= preview_thumbnail %>",
		"screenshot": "<%= preview_thumbnail %>",
		"browserRequirements": "Requires JavaScript. Requires HTML5.",
		"softwareVersion": "3.1.2",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.5",
			"ratingCount": "100"
		}
	}
	</script>

</head>
